*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navbar CSS */
header{
  display: flex;
  justify-content: space-between;
  border: solid 2px black;
  height: 100px;
}

#forumHeader{
  display: flex;
  justify-content: space-evenly;
}

#forumHeader ul{
  display: flex;
}

#forumHeader li{
  list-style: none;
  padding: 10px;
}

#profilHeader{
  display: flex;
  justify-content: space-evenly;
}

/* navbar CSS */
